@import "../assets/fonts/ProximaNova/stylesheet.css";
@import "variables";
@import "mixins";

body {
  font-family: $font;
  font-size: $base-text-size;
  line-height: 1.5;
}

h1 {
  font-size: $h1-font-size;
  @include media-breakpoint-down(md) {
    font-size: 40px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: bold;
}

.f-20 {
  font-size: $middle-text-size;
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}
