.start-button {
  cursor: pointer;
  width: 320px;
  height: 248px;
  padding: 24px 24px 32px;
  border-radius: 4px;
  line-height: 1.1;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 37, 255, 0.5)),
    linear-gradient(to bottom, rgba(241, 89, 34, 0.8), rgba(241, 89, 34, 0.8));
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  animation: bounce 2s infinite ease;
  &:hover {
    .start-button-icon {
      background-image: url('../../assets/images/icons/z8-h.png');
    }

    .start-button-link-wrapper {
      span {
        border-bottom: 1px dotted transparent;
      }
    }
  }
}

.start-button-icon {
  background-image: url('../../assets/images/icons/z8.png');
  margin: auto;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.24s;
}

.start-button-link-wrapper {
  margin-bottom: 24px;
  span {
    border-bottom: 1px dotted white;
  }
}

.expo-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .start-button {
    margin: auto;
  }
}
