@import 'variables';
@import 'mixins';

.h-100 {
  height: 100%;
}

.expo-description-extra {
  font-size: $large-text-size;
  line-height: 1.33;
  b {
    color: $brand-color;
  }

  ul {
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 13px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: $brand-color;
      }
    }
  }
  @include media-breakpoint-down(md) {
    font-size: $base-text-size;
    ul {
      li {
        margin-bottom: 5px;
        &:before {
          top: 7px;
        }
      }
    }
  }
}

.expo-description-fixed {
  max-width: 450px;
  padding-right: 20px;
}

.expo-row {
  display: flex;
}

.expo-bottom-right {
  width: 70%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.expo-bottom {
  display: flex;
}

.expo-bottom-left {
  display: flex;
  align-items: center;
  width: 30%;
  .icon-button {
    background-size: cover;
  }
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-right: 2rem;
  max-width: 220px;
  width: 220px;
  > div {
    width: 100%;
  }
  .icon-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.video-item-sm {
  max-width: 170px;
}

.image-curtain {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  background: black;
  transform: translateY(-100%);
  transition: all 0.24s;
  opacity: 0;
  &.showed {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.image-modal-content {
  height: 100%;
  background-size: contain !important;
  position: relative;
}

.video-frame-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
