@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets/scss/reset";

@import "../assets/scss/variables";
@import "../assets/scss/fonts";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  color: white;
  font-size: $base-text-size;
  background: black;
  &.ReactModal__Body--open {
    overflow: hidden;
  }
}

b {
  font-weight: bold;
}

p {
  font-size: $base-text-size;
}

.modal {
  height: 100%;
  padding: 80px;
  min-width: 530px;
  min-height: 600px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 60px 16px;
    min-width: auto;
  }
}

.modal-overlay {
  background: rgba(black, 0.4);
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 24px;
  height: 24px;
  z-index: 22;
  cursor: pointer;
  background-image: url("../assets/images/icons/close.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.24s;
  &:hover {
    background-image: url("../assets/images/icons/close-hover.png");
  }
  @include media-breakpoint-down(md) {
    top: 16px;
    right: 16px;
  }
}

.container {
  padding: 0 80px;
  @include media-breakpoint-down(md) {
    padding: 0 16px;
  }
}

.icon-button-lg {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.24s;
}

iframe {
  border: none;
}

a {
  color: inherit;
}

p {
  margin-bottom: 7px;
}

img {
  max-width: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  17% {
    transform: translateY(2px);
  }
  20% {
    transform: translateY(5px);
  }
  33% {
    transform: translateY(10px);
  }
  47% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(10px);
  }
  98% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 2s infinite ease;
}

.image-curtain {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  background: black;
  transform: translateY(-100%);
  transition: all 0.24s;
  opacity: 0;
  &.showed {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
