@import 'variables';
@import 'mixins';

$expo-header-wrapper-height: 226px;

.expo-details {
  height: 100%;
  background-size: cover !important;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  .expo-container {
    position: relative;
    z-index: 1;
    height: 100%;
    padding-bottom: 10rem;
  }
  @include media-breakpoint-down(md) {
    height: $main-content-height;
    min-height: 1000px;
    width: 100%;
  }
}

.expo-header-wrapper {
  height: $expo-header-wrapper-height;
}

.expo-details-inner {
  min-width: 1500px;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-size: cover !important;
  background: none !important;
  transition: opacity 0.24s;
  &.loading {
    opacity: 0;
    visibility: hidden;
  }
}

.expo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 600px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 90%
  );
}

.expo-3 {
  .expo-overlay {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0) 90%,
      rgba(0, 0, 0, 0) 90%
    );
  }
}

.expo-icon {
  padding-top: 75px;
  margin-bottom: 1rem;
  img {
    width: 40px;
  }
}

h1 {
  margin-bottom: 1rem;
}

.expo-details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 80px);
}

// grid
.expo-top {
  display: flex;
  justify-content: space-between;
}

.expo-top-left {
  max-width: 400px;
  @include media-breakpoint-down(md) {
    max-width: 300px;
  }
}

.expo-row {
  display: flex;
}

.expo-bottom-left {
  width: 30%;
  .icon-button {
    background-size: cover;
  }
}

.expo-guide-wrapper {
  position: relative;
  z-index: 10;
}

.expo-bottom-right {
  width: 70%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.expo-bottom {
  display: flex;
}

.expo-bottom-left {
  display: flex;
  align-items: center;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-right: 2rem;
  max-width: 220px;
  width: 220px;
  > div {
    width: 100%;
  }
  .icon-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.video-item-sm {
  max-width: 170px;
}

.expo-center {
  justify-content: space-between;
}

.expo-description {
  font-size: $large-text-size;
  @include media-breakpoint-down(md) {
    font-size: $base-text-size;
  }
}

.expo-description-extra {
  font-size: $large-text-size;
  line-height: 1.33;
  b {
    color: $brand-color;
  }

  ul {
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 13px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: $brand-color;
      }
    }
  }
  @include media-breakpoint-down(md) {
    font-size: $base-text-size;
    ul {
      li {
        margin-bottom: 5px;
        &:before {
          top: 7px;
        }
      }
    }
  }
}

.expo-description-fixed {
  max-width: 450px;
  padding-right: 20px;
}
